@model KE03_INTDEV_SE_2_Base.Models.Gebruiker

<h2>Registreren</h2>
<form method="post">
    <label>Gebruikersnaam</label><br />
    <input asp-for="Gebruikersnaam" /><br />
    <label>Wachtwoord</label><br />
    <input asp-for="Wachtwoord" type="password" /><br />
    <button type="submit">Registreer</button>
</form>

